.nav {
  &__list {
    display: flex;
    align-items: center;
    grid-gap: 30px;
  }

  &__link {
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    color: var(--color-black);
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-blue);
    }

    &.active {
      font-weight: 700;
    }
  }

}
