.applications {
  margin: 50px 0 65px;

  @media (max-width: 768px) {
    margin: 0 0 35px;
  }

  @media (max-width: 768px) {
    margin: 30px 0 35px;
  }


  &__information {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(3.906vw, 6.51vw, 50px);
  }

  &__infromation-head {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__top {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    display: flex;
    align-items: center;
    grid-gap: 15px;
  }

  &__heading-top {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 10px;
  }

  &__head-btns {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 10px;

  }

  &__list-heading {
    margin-bottom: 20px;

    @media (max-width: 768px) {
      text-align: left;
    }
  }

  &__list-items {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    &--small {
      grid-gap: 10px;
    }
  }

  &__banner {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 25px;
    background: var(--color-blue-border-bg);
    border-radius: 20px;
    text-align: center;
  }

  &__banner-text {
    font-size: 18px;
    line-height: 133%;
    color: var(--color-blue);

    @media (max-width: 576px) {
      font-size: 14px;
      line-height: 120%;
      display: flex;
      flex-direction: column;
      grid-gap: 30px;
    }
  }

  &__banner-title {
    font-weight: 700;

    @media (max-width: 576px) {
      font-size: 20px;
      line-height: 150%;
      text-align: center;
    }
  }

  &__banner-btns {
    max-width: 311px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 5px;
  }

  &__banner-btn {
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 14px;
    color: var(--color-blue);
    transition: all 0.3s ease;

    &--samples,
    &--main {
      font-weight: 700;
      color: var(--color-white);
      background-color: var(--color-blue);

      &:hover {
        background-color: var(--color-blue-text);
      }
    }

    &--back {
      border: 1px solid var(--color-blue-text);

      &:hover {
        color: var(--color-black);
      }
    }
  }

  &__information-list {
    display: flex;
    flex-direction: column;
    grid-gap: 60px;
    width: 100%;
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__photo-title {
    span {
      display: block;
      margin-top: 5px;
      font-size: 14px;
      font-weight: 400;
      color: var(--color-blue-text);

      @media (max-width: 1024px) {
        font-size: 12px;
        line-height: 133%;
      }
    }

    @media (max-width: 1024px) {
      text-align: left;
      font-size: 20px;
    }
  }

  &__photo-details {
    display: flex;
    align-items: center;
    grid-gap: 30px;

    @media (max-width: 576px) {
      flex-direction: column;
      // align-items: flex-start;
      grid-gap: 20px;
    }
  }

  &__photo-image {
    max-height: 200px;
    max-width: 200px;
  }

  &__photo-img {
    border-radius: 5px;
  }

  &__photo-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__photo-btn {
    height: 40px;
    width: 191px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    border-radius: 50px;
    transition: all 0.3s ease;

    &--change {
      border: 2px solid var(--color-red);
      color: var(--color-red);

      svg {
        fill: var(--color-red);
      }

      &:hover {
        background-color: #FFF2F2;
      }
    }

    &--new {
      width: 224px;
      border: 2px solid var(--color-red);
      color: var(--color-red);

      svg {
        fill: var(--color-red);
      }

      &:hover {
        background-color: #FFF2F2;
      }
    }

    &--delete {
      border: 2px solid var(--color-blue-border-bg);
      color: var(--color-blue);

      svg {
        fill: var(--color-blue);
      }

      &:hover {
        color: var(--color-red-text);

        svg {
          fill: var(--color-red-text);
        }
      }
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__fieldset-title {
    margin-bottom: 10px;
    color: var(--color-black);
  }

  &__add {
    max-width: 278px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 10px 30px;

    svg {
      fill: transparent;
      stroke: #fff;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    grid-gap: 30px;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }

  &__search {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__search-input {
    border: 1px solid #DFDFDF;
    border-radius: 50px 0px 0px 50px;
    padding: 8px 20px;
  }

  &__search-btn {
    padding: 9px 20px;
    border-radius: 0px 50px 50px 0px;
  }

  &__sort {
    width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFEEE1;
    border-radius: 50px;
    padding: 0 20px;
    line-height: 150%;
    color: #5E2D07;
    cursor: pointer;

    svg {
      fill: #5E2D07;
      transform: rotate(-90deg);
    }
  }


}
