.applications {
  margin: 50px 0 65px;

  &__information {
    display: flex;
    flex-direction: column;
    grid-gap: 50px;
  }

  &__infromation-head {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__heading {
    display: flex;
    align-items: center;
    grid-gap: 15px;
  }

  &__list-heading {
    margin-bottom: 20px;
  }

  &__list-items {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    &--small {
      grid-gap: 10px;
    }
  }

  &__banner {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 25px;
    background: var(--color-blue-border-bg);
    border-radius: 20px;
    text-align: center;
  }

  &__banner-text {
    font-size: 18px;
    line-height: 133%;
    color: var(--color-blue);
  }

  &__banner-title {
    font-weight: 700;
  }

  &__banner-btns {
    max-width: 311px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 5px;
  }

  &__banner-btn {
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 14px;
    color: var(--color-blue);
    transition: all 0.3s ease;

    &--samples,
    &--main {
      font-weight: 700;
      color: var(--color-white);
      background-color: var(--color-blue);

      &:hover {
        background-color: var(--color-blue-text);
      }
    }

    &--back {
      border: 1px solid var(--color-blue-text);

      &:hover {
        color: var(--color-black);
      }
    }
  }

  &__information-list {
    display: flex;
    flex-direction: column;
    grid-gap: 60px;
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__photo-title {
    span {
      display: block;
      margin-top: 5px;
      font-size: 14px;
      font-weight: 400;
      color: var(--color-blue-text);
    }
  }

  &__photo-details {
    display: flex;
    align-items: center;
    grid-gap: 30px;
  }

  &__photo-image {
    max-height: 200px;
    max-width: 200px;
  }

  &__photo-img {
    border-radius: 5px;
  }

  &__photo-btns {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__photo-btn {
    height: 40px;
    width: 191px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    border-radius: 50px;
    transition: all 0.3s ease;

    &--change {
      border: 2px solid var(--color-red);
      color: var(--color-red);

      svg {
        fill: var(--color-red);
      }

      &:hover {
        background-color: #FFF2F2;
      }
    }

    &--delete {
      border: 2px solid var(--color-blue-border-bg);
      color: var(--color-blue);

      svg {
        fill: var(--color-blue);
      }

      &:hover {
        color: var(--color-red-text);

        svg {
          fill: var(--color-red-text);
        }
      }
    }
  }

  &__fieldset-title {
    margin-bottom: 10px;
    color: var(--color-black);
  }

  &__add {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    svg {
      fill: transparent;
      stroke: #fff;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    grid-gap: 30px;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }

}
