.block {
  margin-bottom: 80px;

  @media (max-width: 1024px) {
    margin-bottom: 0;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 20px;
  }
}
