.content {
  margin-bottom: 80px;

  &__wrapper {
    display: flex;
    align-items: stretch;
    grid-gap: 40px;

    @media (max-width: 1240px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__inner-box {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }

  &__tabcontent {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: stretch;
    grid-gap: 20px;
  }

  &__tabcontents-item {
    grid-gap: 30px;
  }
}
