.content {
  margin-bottom: 80px;

  &__wrapper {
    display: flex;
    align-items: stretch;
    grid-gap: 40px;
  }

  &__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__inner-box {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }
}
