.confectioners {
  margin-bottom: 40px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;

    @media (max-width: 768px) {
      grid-gap: 30px;
    }
  }

  &__list {
    --gap: clamp(20px, 2.796vw, 42px);
    display: grid;
    grid-template-columns: 280px calc(100% - var(--gap) - 280px);
    width: 100%;
    grid-gap: var(--gap) 0;
    justify-content: space-between;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      grid-gap: 10px;
    }


  }

  &__cook {
    position: relative;
    max-width: 280px;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    grid-gap: 20px;

    @media (max-width: 768px) {
      flex-direction: row;
      max-width: 100%;
      padding: 44px 10px 10px;
    }
  }

  &__cook-image {
    // max-width: 200px;
    width: clamp(100px, 26.042vw, 200px);
    // max-height: 200px;
    height: clamp(100px, 26.042vw, 200px);
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }

  &__cook-info {
    align-items: center;

    @media (max-width: 768px) {
      align-items: flex-start;
      grid-gap: 10px;
    }
  }

  &__cook-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 5px;

    @media (max-width: 768px) {
      align-items: flex-start;
    }
  }

  &__details {
    max-width: 1150px;

    .block__head {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      grid-gap: 20px;
    }

    @media (max-width: 1024px) {
      .block__btns {
        max-width: 100%;
        width: 100%;
        justify-content: space-between;
      }
    }


    @media (max-width: 768px) {
      .block__head {
        display: none;
      }
    }
  }

  &__slider {
    margin: -10px 0;
    padding: 10px 0;
  }

  &__products {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__cook-title {
    @media (max-width: 768px) {
      position: absolute;
      text-align: left;
      top: 10px;
      left: 10px;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;

      br {
        display: none;
      }
    }
  }

}
