.contacts {
  grid-gap: 30px;
  align-items: flex-start;

  @media (max-width: 576px) {
    grid-gap: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 10px;
  }

  &__info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;

    li {
      list-style-type: disc;
    }

  }

  &__title {
    font-size: 14px;
    font-weight: 700;
  }

  &__text {
    font-size: 14px;
    line-height: 171%;
    color: var(--color-black);
    text-align: left;
  }

  &__details {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;

    @media (max-width: 576px) {
      grid-gap: 15px;
    }
  }

  &__details-item {
    height: 40px;
    display: flex;
    align-items: center;
    grid-gap: 20px;

    @media (max-width: 576px) {
      align-items: flex-end;
    }
  }

  &__detail {
    font-size: 14px;
    color: #011936;

    span {
      margin-right: 20px;
      display: inline-block;
      width: 75px;
      font-weight: 700;
      text-align: left;
    }

    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 5px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: var(--color-pink-bg);
    border-radius: 50px;
    transition: all 0.3s ease;

    svg {
      fill: var(--color-red);
    }

    &:hover,
    &:active {
      background-color: var(--color-pink-hover);
    }
  }
}
