.constructor {
  &__product-title {
    font-size: 20px;
    color: #84A6C2;
    font-weight: 400;
  }

  &__form {
    grid-gap: 40px;
  }

  &__form-head {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__fieldset {
    display: flex;
    align-items: center;
    grid-gap: 30px;

    &--start {
      align-items: stretch;
    }
  }

  &__form-title {
    max-width: 220px;
    width: 100%;
    font-size: 14px;
    color: var(--color-blue-text);
    letter-spacing: -0.03em;
    text-align: left;

    span {
      display: block;
      color: #011936;
      font-weight: 700;
    }
  }

  &__form-bottom {
    display: flex;
    align-items: stretch;
    grid-gap: 30px;
  }

  &__textarea {
    min-height: 116px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    resize: none;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue-text);

    &::placeholder {
      font-size: 14px;
      line-height: 171%;
      color: var(--color-blue-text);
    }

    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }
  }

  &__form-mid {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
    padding: 40px 0;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  &__form-weight {
    display: flex;
    align-items: center;
    grid-gap: 15px;
    width: 100%;
    font-size: 14px;
    color: var(--color-black);
  }

  &__form-label {
    width: 100%;
  }

  &__form-choose {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }

  &__choose-label {
    position: relative;
  }

  &__choose-input {
    position: absolute;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;

    &:checked ~ .constructor__choose-info {
      background-color: #43607C;
      padding-right: 70px;
      color: var(--color-white);
      font-weight: 700;

      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__choose-info {
    display: block;
    position: relative;
    width: 100%;
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    padding: 8px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 171%;
    color: #011936;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background-image: var(--choose-checked);
      background-size: cover;
      background-repeat: no-repeat;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      opacity: 0;
      visibility: hidden;
      z-index: 5;
    }
  }

  &__extra-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease;

    &:checked ~ .constructor__extra-info::after{
      opacity: 1;
    }

    &:checked ~ .constructor__extra-info::before{
      background-color: var(--color-white);
    }
  }

  &__extra-info {
    position: relative;
    padding-left: 45px;
    color: var(--color-black);
    transition: all 0.3s ease;
    text-align: left;
    cursor: pointer;

    span {
      display: block;
      font-size: 14px;
      line-height: 171%;
      color: #43607C;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--color-white);
      width: 22.5px;
      height: 22.5px;
      border: 2px solid #43607C;
      border-radius: 2px;
      transition: .4s;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-image: var(--arrow-checked);
      background-size: cover;
      background-repeat: no-repeat;
      left: -1px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      opacity: 0;
      transition: .4s;
      z-index: 5;
      transition: all 0.3s ease;
    }

    &:hover {
      transition: all 0.3s ease;

      &::before {
        background-color: var(--color-blue-border-bg);
      }
    }
  }

  &__bottom-info {
    max-width: 220px;
    width: 100%;
  }

  &__form-labels {
    display: flex;
    align-items: center;
    grid-gap: 5px;
  }
}
