.creating {
  padding: 40px 0;

  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: 80px;

    @media (max-width: 768px) {
      grid-gap: 50px;
    }
  }

  &__content-info {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__content-block {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;

    &--bg {
      background-color: #F5FAFF;
      border-radius: 10px;
      padding: 30px 40px;
      flex-direction: row;
      grid-gap: 40px;

      @media (max-width: 768px) {
        flex-direction: column;
        padding: 15px;
      }
    }

    &--row {
      flex-direction: row;
      align-items: stretch;
      grid-gap: 50px;

      @media (max-width: 768px) {
        flex-direction: column;
        grid-gap: 30px;
      }
    }
  }

  &__content-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__fieldset {

    &--price {
      max-width: 190px;

      @media (max-width: 576px) {
        max-width: 100%;
      }
    }

    &--weight {
      max-width: 435px;

      input {
        border: 1px solid #84A6C2;
      }
    }
  }

  &__label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__input {
    position: relative;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #DFDFDF;
    border-radius: 50px;
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue);
    height: 40px;
  }

  &__input-value {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 14px;
    line-height: 171%;
    display: flex;
    align-items: center;
    color: #43607C;
  }


  &__heading {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px 30px;

    @media (max-width: 576px) {
      grid-gap: 10px 15px;
    }
  }

  &__text {
    font-size: 14px;
    color: #84A6C2;
  }

  &__content-heading {
    font-weight: 700;
    color: #43607C;

    span {
      display: block;
      font-size: 14px;
      color: #84A6C2;
      font-weight: 400;
    }

    @media (max-width: 576px) {
      br {
        display: none;
      }
    }
  }

  &__select {
    width: 100%;
    height: 40px;
    border: 1px solid #84A6C2;
    border-radius: 20px;
  }

  &__select-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 8px 20px;
    cursor: pointer;

    svg {
      transform: rotate(-90deg);
      fill: var(--color-blue);
    }
  }

  &__select-current {
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue);
  }

  &__select-body {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    max-height: 186px;
    width: 100%;
    margin-top: 10px;
    background-color: var(--color-white);
    border: 1px solid var(--color-blue-border-bg);
    border-radius: 10px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      margin-right: 5px;
      height: 2px;
      background-color: #43607C;
    }

    &::-webkit-scrollbar-thumb:hover {
      height: 2px;
      background-color: #DCEBF8;
    }
  }

  &__select-item {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-grey-bg);
    }
  }

  &__categories {
    max-width: 775px;
    grid-gap: 20px 10px;

    @media (max-width: 768px) {
      grid-gap: 10px;
    }
  }

  &__content-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 10px;

    @media (max-width: 768px) {
      justify-content: center;
    }

    @media (max-width: 576px) {
      flex-direction: column-reverse;
    }
  }

  &__content-btn {
    padding: 10px 20px;
    width: fit-content;

    &--publish {
      padding: 10px 30px;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__choose {
    max-width: 475px;
    width: 100%;

    .creating__content-heading {
      min-height: 58px;
    }
  }

  &__choose-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__btn {

  }
}
