.enter {
  grid-gap: 60px;
  text-align: left;

  @media (max-width: 768px) {
    grid-gap: 20px;
  }

  &__title {
    margin-bottom: 20px;
    color: var(--color-black);
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__btn {
    height: 40px;
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 15px;
    background-color: var(--color-blue-border-bg);
    border-radius: 10px;
    transition: all 0.3s ease;

    &:hover,
    &:active {
      background-color: var(--color-blue-hover);
    }
  }

  &__login {
    font-size: 14px;
    line-height: 171%;
    text-align: left;
    text-decoration-line: underline;
    color: var(--color-blue-text);
    transition: all 0.3s ease;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &__form {
    @media (max-width: 768px) {
      margin-bottom: 50px;
    }
  }
}
