.feedback {
  text-align: left;

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__fieldset {
    display: flex;
    align-items: center;
    grid-gap: 40px;

    &:last-of-type {
      align-items: baseline;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 10px;
    }
  }

  &__form-title {
    max-width: 220px;
    width: 100%;
    font-size: 14px;
    color: var(--color-blue-text);
    letter-spacing: -0.03em;

    @media (max-width: 768px) {
      font-size: 12px;
      max-width: 100%;

      br {
        display: none;
      }
    }

    span {
      display: block;
      color: #011936;
      font-weight: 700;

      @media (max-width: 768px) {
        font-size: 14px;
        color: var(--color-blue);
      }
    }
  }

  &__textarea {
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    padding: 10px 20px;
    color: #43607C;
    height: 160px;
    resize: none;
    overflow-y: auto;

    @media (max-width: 768px) {
      height: 80px;
    }
  }
}
