.first {
  padding: 40px 0 80px;

  @media (max-width: 1024px) {
    padding: 25px 0 50px;
  }

  &__wrapper {
    // display: flex;
    // align-items: center;
    grid-gap: clamp(40px, 4.167vw, 80px);
    display: grid;
    grid-template-columns: auto 550px;
  }

  &__wrapper-left {
    max-width: 842px;
    width: 100%;
    padding-top: 49px;

    @media (max-width: 768px) {
      padding-top: 0;
    }
  }

  &__wrapper-right {
    max-width: 550px;
    width: 100%;
    height: 100%;
    max-height: var(--images-max-height);
  }

  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
    margin-bottom: 60px;

    @media (max-width: 576px) {
      margin-bottom: 30px;

      .categories {
        display: none;
      }
    }

  }

  &__info {
    max-width: 463px;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }



  &__images {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    height: 100%;
    // max-height: var(--images-max-height);

    @media (max-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 30% calc(70% - 20px);
      // max-height: 746px;
      // max-height: var(--images-max-height);
    }
  }

  &__image {
    grid-column: 1;

    picture,
    img {
      display: flex;
      height: 100%;
      width: 100%;
    }

    &--first {
      grid-row: 1;

      picture,
      img {
        border-radius: 0px 70px 70px 0px;
      }

      @media (max-width: 1440px) {
        // grid-row: initial;
        grid-column: 2;
      }
    }

    &--second {
      picture,
      img {
        border-radius: 0px 70px;
      }

      @media (max-width: 1440px) {
        grid-column: 1;
      }
    }

    &--third {
      grid-column: span 2;
      grid-row: 1 / span 2;

      picture,
      img {
        border-radius: 100px 0px;
      }


      @media (max-width: 1440px) {
        grid-row: initial;
      }
    }
  }

}
