.form {
  display: flex;
  flex-direction: column;
  grid-gap: 60px;
  width: 100%;

  @media (max-width: 768px) {
    grid-gap: 20px;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__title {
    font-size: 14px;
    line-height: 24px;
    color: var(--color-blue-text);

    span {
      font-weight: 700;
      display: block;
      color: #011936;

      @media (max-width: 768px) {
        color: var(--color-blue);
      }
    }

    &--spacing {
      letter-spacing: -0.03em;
    }

    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 133%;
    }
  }

  &__labels {
    display: flex;
    align-items: center;
    grid-gap: 30px;

    @media (max-width: 576px) {
      grid-gap: 20px;
    }
  }

  &__labels-code {
    max-width: 140px;
    display: flex;
    align-items: center;
    grid-gap: 10px;

    @media (max-width: 576px) {
      grid-gap: 5px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    grid-gap: 15px;

    @media (max-width: 576px) {
      flex-direction: column;
      grid-gap: 10px;
    }
  }

  &__input {
    position: relative;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    padding: 8px 20px;
    border: 1px solid var(--color-blue-text);
    border-radius: 50px;
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue);
    height: 40px;

    &::placeholder {
      font-size: 14px;
      line-height: 171%;
      color: var(--color-blue-text);
    }

    &--code {
      width: 40px;
      height: 50px;
      text-align: center;
      padding: 0;
      border-radius: 5px;
    }

    &--feedback {
      border: 1px solid var(--color-border);
    }

    &--product {
      background-color: var(--color-grey-bg);
      pointer-events: none;
    }

    &--registration {
      border: 1px solid #DFDFDF;
    }
  }

  &__btn {
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--color-yellow);
    color: #5E2D07;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-yellow-hover);
    }

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &__input-value {
    display: block;
    position: relative;
    min-height: 44px;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue-text);
    background-color: var(--color-grey-bg);
    border-radius: 20px;
  }

  &__select {
    width: 100%;
    height: 40px;
    border: 1px solid var(--color-border);
    border-radius: 20px;

    &.is-active {
      .form__select-header {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__select-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 8px 20px;
    cursor: pointer;

    svg {
      transform: rotate(-90deg);
      fill: var(--color-blue);
    }
  }

  &__select-current {
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue);
  }

  &__select-body {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    max-height: 186px;
    // height: 100%;
    width: 100%;
    margin-top: 10px;
    background-color: var(--color-white);
    border: 1px solid var(--color-blue-border-bg);
    // filter: drop-shadow(0px 31px 80px rgba(67, 96, 124, 0.09)) drop-shadow(0px 9.34559px 24.1177px rgba(67, 96, 124, 0.058643)) drop-shadow(0px 3.88168px 10.0172px rgba(67, 96, 124, 0.045)) drop-shadow(0px 1.40393px 3.62304px rgba(67, 96, 124, 0.031357));
    border-radius: 10px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      margin-right: 5px;
      height: 2px;
      background-color: #43607C;
    }

    &::-webkit-scrollbar-thumb:hover {
      height: 2px;
      background-color: #DCEBF8;
    }
  }

  &__select-item {
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-grey-bg);
    }
  }

  &__categories {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;

    @media (max-width: 576px) {
      grid-gap: 20px;
    }
  }

  &__categories-fieldsets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  &__categories-fieldset {
    flex-wrap: wrap;
    grid-gap: 10px;
  }

  &__categories-list {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__categories-delete {
    @media (max-width: 576px) {
      display: none;
    }
  }

  &__categories-mob {
    display: none;
    position: relative;
    height: 24px;

    &:hover {
      .form__categories-hover {
        display: block;
      }
    }

    @media (max-width: 576px) {
      display: block;
    }
  }

  &__categories-hover {
    display: none;
    position: absolute;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 12px 43px rgba(67, 96, 124, 0.15), 0px 3.61765px 12.9632px rgba(67, 96, 124, 0.1), 0px 1.50259px 5.38427px rgba(67, 96, 124, 0.1), 0px 0.543456px 1.94738px rgba(67, 96, 124, 0.05);
    border-radius: 10px;
    padding: 10px;
    z-index: 20;
  }

  &__categories-controls {
    padding: 5px 25px;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    border: 2px solid #DCEBF8;
    border-radius: 50px;
    font-size: 12px;
    line-height: 120%;
    color: #43607C;

    svg {
      fill: #84A6C2;
    }
  }
}
