header {
  padding: 20px 0;
  background-color: var(--color-white);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1140px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  @media (max-width: 768px) {
    display: flex;
  }

  &__left {
    display: flex;
    align-items: center;
    grid-gap: 30px;
  }

  &__right {
    display: flex;
    align-items: center;
    grid-gap: 35px;

    @media (max-width: 1140px) {
      justify-content: flex-end;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__location {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__nav {
    @media (max-width: 1140px) {
      order: 1;
      grid-column: span 2;
      display: flex;
      justify-content: center;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  // &__mobile {
  //   display: none;

  //   @media (max-width: 768px) {
  //     display: block;
  //   }
  // }
}
