.mobile {
  display: none;
  opacity: 0;
  visibility: hidden;

  @media (max-width: 768px) {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  &__menu {
    position: fixed;
    top: 75px;
    left: 0;
    transform: translateX(100%);
    width: 100vw;
    height: calc(100% - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    background-color: rgba(67, 96, 124, 0.5);
    padding: 15px 20px;
    transition: all .4s;
    visibility: hidden;
    overflow-y: auto;
    opacity: 0;
    z-index: -1;

    &.active {
      transform: translate(0);
      visibility: visible;
      opacity: 1 !important;
    }
  }

  &__menu-wrapp {
    width: 100%;
    height: fit-content;
    padding: 30px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 30px;

    .registration__greeating::before {
      display: none;
    }
  }

  &__location {
    width: 100%;
  }

  &__nav-list {
    flex-direction: column;
  }

  &__autorization-btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
  }

  &__autorization-btn {
    width: 100%;
    padding: 7.5px 0;
    background-color: var(--color-yellow-border);
    border-radius: 50px;
    color: var(--color-yellow-text);

    svg {
      fill: var(--color-yellow-text);
    }
  }

  &__acount-item {
    width: 100%;
  }

  &__account-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
  }

  &__controls-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .authorization__account-link {
      padding: 13.5px 22px;
      text-align: left;
    }
  }

  &__add-category {
    padding: 10px 0;
    justify-content: center;
  }

  &__nav-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 10px;

    .details__controls-btn {
      justify-content: center;
    }
  }

  &__account-controls {
    margin: 0;
    flex-direction: column;
    width: 100%;

    .details__categories-btn {
      justify-content: center;
    }

    @media (max-width: 576px) {
      grid-template-columns: 100%;
      flex-wrap: wrap;
    }
  }
}
