.mobile {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  &__menu {
    position: fixed;
    top: 84px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 75px);
    transform: translateX(100%);
    transition: all .5s;
    visibility: hidden;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    &.active {
      transform: translateX(0);
      visibility: visible;
    }
  }

  &__burger {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pink-bg);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-pink-hover);
    }
  }

  &__menu-wrapp {
    padding: 30px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 30px;
  }

}
