.news {
  max-width: 280px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px rgba(67, 96, 124, 0.25);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 2px rgba(67, 96, 124, 0.3);
  }

  &__image {
    position: relative;
    height: 120px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
  }

  &__img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }

  &__info {
    padding: 20px 15.8px 15px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    grid-gap: 20px;
    overflow: hidden;
    max-height: 223px;
  }

  &__title {
    // flex-grow: 1;
    line-height: 150%;
    font-weight: 700;
    color: var(--color-blue);
  }

  &__descr {
    // max-height: 100px;
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue);
  }
}

