.products {

  &__slider-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 5px;
    margin-bottom: 15px;

    @media (max-width: 576px) {
      display: none;
      margin-bottom: 0;
    }
  }

  &__slider-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-blue-border-bg);
      border-radius: 2px;
    }

    &:active {
      svg {
        fill: var(--color-blue-text);
      }
    }

    &--next {
      transform: rotate(180deg);
    }
  }

  &__slider {
    @media (max-width: 576px) {
      overflow: initial;
    }
  }

  &__wrapper {
    @media (max-width: 576px) {
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      display: flex;
      flex-wrap: wrap;
      grid-gap: 10px;
    }
  }

  &__slide {
    @media (max-width: 576px) {
      width: initial;
      flex-shrink: initial;

      .product {
        padding: 11.5px 20px;
        background-color:  var(--color-pink-bg);
        border-radius: 40px;
      }

      .product__image {
        display: none;
      }

      .product__title {
        font-size: 14px;
        line-height: 120%;
        color: #8E4A4E;
        font-weight: 400;
      }
    }
  }
}
