.product-card {
  margin-bottom: 80px;

  &__wrapper {
    display: flex;
    align-items: center;
    grid-gap: clamp(30px, 4.167vw, 80px);

    @media (max-width: 1024px) {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 35% 1fr;
    }

    @media (max-width: 768px) {
      grid-template-columns: 100%;
    }
  }

  &__images {
    max-width: 440px;
    width: 100%;
    max-height: 450px;
    display: flex;
    align-items: center;
    grid-gap: 20px;

    @media (max-width: 1024px) {
      flex-direction: column-reverse;
    }

    @media (max-width: 1024px) {
      max-width: 100%;
    }
  }

  &__slider {
    width: 100%;
    padding: 0;
    margin: 0;

    @media (max-width: 768px) {
      max-width: 576px;
    }

    @media (max-width: 576px) {
      margin-left: -15px;
      padding-left: 10px;
      width: calc(100% + 15px);
      overflow: initial;
    }
  }

  &__slide {
    @media (max-width: 576px) {
      max-width: 86.111vw;
    }
  }

  &__image {
    position: relative;
    max-width: 350px;
    height: 450px;

    picture,img {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    @media (max-width: 1024px) {
      max-height: 33.594vw;
      max-width: 100%;
    }

    @media (max-width: 768px) {
      max-height: 48vw;
    }

    @media (max-width: 576px) {
      height: Min(111.111vw, 400px);
      max-height: Min(111.111vw, 400px);
    }
  }

  &__small {
    max-width: 70px;
    width: 100%;
    height: 378px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    align-items: center;

    @media (max-width: 1024px) {
      flex-direction: row;
      max-width: 100%;
      height: initial;
    }

    @media (max-width: 768px) {
      max-width: 576px;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__preview-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-blue-border-bg);
      border-radius: 2px;
    }

    &:active {
      svg {
        fill: var(--color-blue-text);
      }
    }

    &--prev {
      transform: rotate(90deg);

      @media (max-width: 1024px) {
        transform: rotate(0deg);
      }
    }

    &--next {
      transform: rotate(-90deg);

      @media (max-width: 1024px) {
        transform: rotate(180deg);
      }
    }
  }

  &__preview-slider {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  &__preview-image {
    picture,
    img {
      height: 70px;
      width: 70px;
      border-radius: 10px;
    }
  }


  &__categories {
    margin-bottom: 14px;
  }

  &__categories-btn {
    padding: 0 10px;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 120%;
    font-weight: 700;
    color: var(--color-blue);
  }

  &__price {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color: var(--color-red);
  }

  &__info {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    margin-bottom: 15px;
  }

  &__info-item {
    position: relative;
    padding-left: 17px;
    font-size: 14px;
    color: var(--color-blue);

    &::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color:  #FDAD6D;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &:first-child {
      padding-left: 0;

      &::before {
        display: none;
      }
    }
  }

  &__description {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue);
  }

  &__btns {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
  }

  &__btn {
    padding: 10px 30px;
    border-radius: 50px;
    transition: all 0.3s ease;

    &--parameters {
      background-color: #A63A50;
      font-weight: 700;
      color: #fff;

      &:hover {
        background-color: var(--color-red-hover);
      }
    }

    &--contacts {
      border: 1px solid var(--color-blue-text);
      color: var(--color-blue);

      &:hover {
        color: #011936;
      }
    }
  }

  &__preview {
    @media (max-width: 1024px) {
      width: fit-content;
    }
  }
}
