.registration {
  margin-bottom: 80px;
  padding: 60px 0;
  background-color: var(--color-blue-border-bg);

  @media (max-width: 576px) {
    padding: 50px 0;
    margin-bottom: 50px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-gap: 10px;
  }

  &__save {
    max-width: 350px;
    width: 100%;
  }

  &__textarea {
    position: relative;
    left: 0;
    border: 1px solid #DFDFDF;
    border-radius: 20px;
    resize: none;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 171%;
    color: var(--color-blue-text);

    &::placeholder {
      font-size: 14px;
      line-height: 171%;
      color: var(--color-blue-text);
    }

    &::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
    }

    &--disable {
      position: absolute;
      left: 0;
      height: fit-content;
    }

    &--fill {
      height: 116px;
    }
  }

  &__save-btn {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 576px) {
      justify-content: center;
    }
  }

  &__greeating {
    position: relative;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 20px;
    background-color: #DCEBF8;
    border-radius: 10px;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--greeatings-triangle);
      background-size: cover;
      background-repeat: no-repeat;
      width: 44px;
      height: 31px;
      left: 8px;
      bottom: -17px;
    }
  }

  &__greeating-title {
    font-size: 16px;
    line-height: 150%;
    color: #43607C;
    font-weight: 700;
  }

  &__greeating-description {
    font-size: 16px;
    line-height: 150%;
    color: #43607C;
  }
}
