.reviews {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__head-btns {
    display: flex;
    align-items: center;
    grid-gap: 20px;
  }

  &__info {
    max-width: 696px;
  }

  &__slider {
    height: 442px;
    padding: 0;
    margin: 0;
  }

  &__slider-wrapper {
    flex-direction: column;
  }

  &__information {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }
}
