.slider {
  margin: -20px -10px;
  padding: 20px 10px 70px;
  z-index: 1;

  @media (max-width: 1440px) {
    padding: 20px 5px 70px;
  }

  &__slide {
    max-width: 280px;

    @media (max-width: 768px) {
      max-width: 230px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-gap: 5px;

    @media (max-width: 576px) {
      display: none;
    }
  }

  &__btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-blue-border-bg);
      border-radius: 2px;
    }

    &:active {
      svg {
        fill: var(--color-blue-text);
      }
    }

    &--next {
      transform: rotate(180deg);
    }
  }
}
