.thanks {
  grid-gap: 30px;
  align-items: center;

  @media (max-width: 576px) {
    padding: 50px 20px 25px;
    grid-gap: 20px;
  }

  &__icon {
    svg {
      fill: transparent;

      @media (max-width: 576px) {
        width: 70px;
        height: 70px;
      }
    }

    @media (max-width: 576px) {
      position: absolute;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
      width: 90px;
      height: 90px;
      background: #FFFFFF;
      border-radius: 100px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__text {
    max-width: 380px;
    font-size: 20px;
    line-height: 140%;
    color: #43607C;

    span {
      display: block;
      font-weight: 700;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }

    // &--delete {
    //   max-width: 380px;
    // }
  }
}
