<footer>
  <div class="container">
    <div class="footer">
        <div class="footer__left">
          <a class="logo" href="#">MyCake</a>

          <button class="location">
            <svg width='14' height='20'>
              <use href='img/sprite/sprite.svg#location'></use>
            </svg>
            <span>Вся Україна</span>
          </button>
        </div>

        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#">Десерти</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Кращі кондитери</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Корисні статті</a>
            </li>
          </ul>
        </nav>

        <div class="footer__right">
          <ul class="footer__btns">
            <li class="footer__btn">
              <a class="footer__btn-link footer__btn-link--rules" href="#">Правила користування</a>
            </li>
            <li class="footer__btn">
              <a class="footer__btn-link footer__btn-link--feedback" href="#">Форма зворотнього зв’язку</a>
            </li>
          </ul>

          <div class="footer__right-end">
            <div class="footer__copy">© Mycake 2022 All rights reserved</div>

            <ul class="footer__socials socials">
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg width='40' height='40'>
                    <use href='img/sprite/sprite.svg#instagram'></use>
                  </svg>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#">
                  <svg width='40' height='40'>
                    <use href='img/sprite/sprite.svg#youtube'></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</footer>

