<header>
  <div class="container">
    <div class="header">
      <div class="header__left">
        <a class="logo" href="#">MyCake</a>

        <button class="location">
          <svg width='14' height='20'>
            <use href='img/sprite/sprite.svg#location'></use>
          </svg>
          <span>Вся Україна</span>
        </button>
      </div>

      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Десерти</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Кращі кондитери</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Корисні статті</a>
          </li>
        </ul>
      </nav>

      <div class="header__right">
        <!-- <button class="authorization">
          <svg width='30' height='32'>
          <use href='img/sprite/sprite.svg#forum'></use>
          </svg>
        </button> -->

        <button class="authorization">
          <svg width='30' height='30'>
            <use href='img/sprite/sprite.svg#account'></use>
          </svg>
          <span>Увійти</span>
        </button>
      </div>

    </div>
  </div>
</header>
