<header>
  <div class="container">
    <div class="header">
      <div class="header__left">
        <a class="logo" href="./">MyCake</a>

        <button class="header__location location">
          <svg width='14' height='20'>
            <use href='img/sprite/sprite.svg#location'></use>
          </svg>
          <span>Вся Україна</span>
        </button>
      </div>

      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="../deserts.html">Десерти</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="../confectioners.html">Кращі кондитери</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="../articles.html">Корисні статті</a>
          </li>
        </ul>
      </nav>

      <div class="header__right authorization">
        <!-- <div class="authorization__forum">
          <button class="authorization__btn">
            <svg width='30' height='32'>
            <use href='img/sprite/sprite.svg#forum'></use>
            </svg>
          </button>
        </div> -->

        <div class="authorization__login">
          <button class="authorization__btn">
            <svg width='30' height='30'>
              <use href='img/sprite/sprite.svg#account'></use>
            </svg>
            <span>Увійти</span>
          </button>
        </div>

        <!-- <div class="authorization__account">
          <button class="authorization__btn">
            <svg width='30' height='30'>
              <use href='img/sprite/sprite.svg#account'></use>
            </svg>
            <span>Інна Пономаренко</span>
          </button>

          <div class="authorization__account-hover">
            <ul class="authorization__account-details">
              <li class="authorization__acount-item">
                <a class="authorization__account-link" href="#">Мій акаунт</a>
              </li>
              <li class="authorization__acount-item">
                <a class="authorization__account-link" href="#">Профіль кондитера</a>
              </li>
              <li class="authorization__acount-item">
                <button class="authorization__account-link authorization__account-link--logout">
                  <span>Вийти</span>
                  <svg width='15' height='15'>
                  <use href='img/sprite/sprite.svg#log-out'></use>
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div> -->
      </div>

      <!-- <div class="burger">
        <button class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div> -->
    </div>
    <div class="mobile__menu">
      <div class="mobile__menu-wrapp">
        12
      </div>
    </div>
  </div>
</header>
