<header>
  <div class="container">
    <div class="header">
      <div class="header__left">
        <a class="logo" href="./">MyCake</a>

        <button class="header__location location__current-btn" data-animation="fade" data-speed="300" data-path="location">
          <svg width='14' height='20'>
            <use href='img/sprite/sprite.svg#location'></use>
          </svg>
          <span>Вся Україна</span>
        </button>
      </div>

      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="../deserts.html">Десерти</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="../confectioners.html">Кращі кондитери</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="../articles.html">Корисні статті</a>
          </li>
        </ul>
      </nav>

      <button class="header__search-btn search__btn">
        <svg width='25' height='25'>
        <use href='img/sprite/sprite.svg#search'></use>
        </svg>
      </button>

      <div class="header__right authorization">
        <!-- <div class="authorization__forum">
          <a class="authorization__btn" href="../dialog.html">
            <svg width='30' height='32'>
            <use href='img/sprite/sprite.svg#forum'></use>
            </svg>
          </a>
          <span class="messages-count">2</span>
        </div> -->

        <!-- <div class="authorization__login">
          <button class="authorization__btn" data-animation="fade" data-speed="300" data-path="log-in">
            <svg width='30' height='30'>
              <use href='img/sprite/sprite.svg#account'></use>
            </svg>
            <span>Увійти</span>
          </button>
        </div> -->

        <div class="authorization__account">
          <button class="authorization__btn">
            <svg width='30' height='30'>
              <use href='img/sprite/sprite.svg#account'></use>
            </svg>
            <span>Інна Пономаренко</span>
          </button>

          <div class="authorization__account-hover">
            <ul class="authorization__account-details">
              <li class="authorization__acount-item">
                <a class="authorization__account-link" href="../account.html">Мій акаунт</a>
              </li>
              <li class="authorization__acount-item">
                <a class="authorization__account-link" href="../confectioner.html">Профіль кондитера</a>
              </li>
              <li class="authorization__acount-item">
                <button class="authorization__account-link authorization__account-link--logout">
                  <span>Вийти</span>
                  <svg width='15' height='15'>
                  <use href='img/sprite/sprite.svg#log-out'></use>
                  </svg>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="burger">
        <button class="burger-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>

    <div class="mobile__menu" style="opacity: 0;">

      <!-- Unlogged -->
      <!-- <div class="mobile__menu-wrapp">
        <button class="mobile__location location__current-btn" data-animation="fade" data-speed="300" data-path="location">
          <svg width='14' height='20'>
            <use href='img/sprite/sprite.svg#location'></use>
          </svg>
          <span>Вся Україна</span>
        </button>

        <nav class="mobile__nav nav">
          <ul class="mobile__nav-list nav__list">
            <li class="nav__item">
              <a class="nav__link" href="../deserts.html">Десерти</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="../confectioners.html">Кращі кондитери</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="../articles.html">Корисні статті</a>
            </li>
          </ul>
        </nav>

        <button class="mobile__autorization-btn authorization__btn" data-animation="fade" data-speed="300" data-path="log-in">
          <svg width='30' height='30'>
            <use href='img/sprite/sprite.svg#account'></use>
          </svg>
          <span>Увійти</span>
        </button>
      </div> -->

      <!-- Logged In -->
      <div class="mobile__menu-wrapp">
        <button class="mobile__location location__current-btn" data-animation="fade" data-speed="300" data-path="location">
          <svg width='14' height='20'>
            <use href='img/sprite/sprite.svg#location'></use>
          </svg>
          <span>Вся Україна</span>
        </button>

        <nav class="mobile__nav nav">
          <ul class="mobile__nav-list nav__list">
            <li class="nav__item">
              <a class="nav__link" href="../deserts.html">Десерти</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="../confectioners.html">Кращі кондитери</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="../articles.html">Корисні статті</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="mobile__menu-wrapp">
        <div class="mobile__autorization-btns">
          <button class="authorization__btn">
            <svg width='30' height='30'>
              <use href='img/sprite/sprite.svg#account'></use>
            </svg>
            <span>Анна Василенко</span>
          </button>

          <a href="../dialog.html" class="mobile__autorization-btn authorization__btn">
            <svg width='30' height='32'>
              <use href='img/sprite/sprite.svg#forum'></use>
            </svg>
            <span>Чат</span>
          </a>
        </div>

        <ul class="mobile__account-details">
          <li class="mobile__acount-item">
            <a class="authorization__account-link" href="../applications.html">Мої заявки</a>
          </li>
          <li class="mobile__acount-item">
            <a class="authorization__account-link" href="../applications.html">Збережені шаблони</a>
          </li>
        </ul>

        <div class="mobile__controls-btns">
          <button class="authorization__account-link authorization__account-link--kabinet">
            <span>Кабінет кондитера</span>
            <svg width='20' height='20'>
            <use href='img/sprite/sprite.svg#arrow-prev'></use>
            </svg>
          </button>

          <button class="authorization__account-link authorization__account-link--logout">
            <span>Вийти</span>
            <svg width='15' height='15'>
            <use href='img/sprite/sprite.svg#log-out'></use>
            </svg>
          </button>
        </div>
      </div>

      <!-- Without Confectioner cabinet -->
      <!-- <div class="mobile__controls-btns">
        <button class="authorization__account-link authorization__account-link--logout">
          <span>Вийти</span>
          <svg width='15' height='15'>
          <use href='img/sprite/sprite.svg#log-out'></use>
          </svg>
        </button>
      </div> -->
    </div>
  </div>
</header>
