.about {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;

  @media (max-width: 768px) {
    grid-gap: 15px;
  }

  &__head {
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 50px;

    @media (max-width: 768px) {
      grid-gap: 15px;
      padding-bottom: 50px;
    }
  }

  &__bot {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__head-info  {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__photo {
    width: clamp(100px, 26.042vw, 200px);
    height: clamp(100px, 26.042vw, 200px);

    picture,
    img {
      height: 100%;
      width: 100%;
    }

    @media (max-width: 768px) {
      width: 100px;
      height: 100px
    }
  }

  &__photo-img {
    border-radius: 5px;
  }

  &__head-title {
    display: flex;
    align-items: center;
    grid-gap: 10px;
  }

  &__confectioner-name {
    font-size: 20px;
    font-weight: 700;
    color: #43607C;
  }

  &__confectioner-town {
    font-size: 14px;
    color: #84A6C2;
  }

  &__confectioner-link {
    padding: 10.5px 20px;
    background-color: var(--color-yellow);
    border-radius: 50px;
    color: #5E2D07;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-yellow-hover);
    }
  }

  &__desctiption {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }
}
