.add-review {
  width: 100%;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  background-color: var(--color-pink-bg);
  border-radius: 50px;
  padding: 8px 20px;
  color: var(--color-red);
  transition: all 0.3s ease;
  white-space: nowrap;

  svg {
    fill: #fff;
    stroke: #8E4A4E;
  }

  &:hover {
    background-color: var(--color-pink-hover);
  }
}
