.application {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 40px;
  padding: 15px 30px 15px 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;

  &--new {
    border: none;
    background-color: #FFF2F2;
  }

  &__product {
    max-width: 310px;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 30px;
  }

  &__product-image {
    height: 100px;
    width: 100px;
  }

  &__product-img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }

  &__info-head {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    margin-bottom: 5px;
  }

  &__product-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
  }

  &__product-count {
    font-size: 14px;
    color: var(--color-blue);
  }

  &__datetime {
    font-size: 14px;
    color: var(--color-blue-text);
  }

  &__filling {
    flex-grow: 1;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-blue);

    span {
      display: block;
      font-weight: 700;
    }
  }

  &__btn {
    padding: 10px 31px;
    border-radius: 50px;
    background-color: var(--color-pink-bg);
    color: #A63A50;
    transition: all 0.3s ease;

    &:hover,
    &:active {
      background-color: var(--color-pink-hover);
    }
  }

  &__pubtime {
    text-align: right;
    line-height: 125%;
    color: var(--color-blue);

    span {
      display: block;
    }
  }

  &__sample {
    grid-gap: 30px;
    box-shadow: 0px 0px 10px rgba(166, 58, 80, 0.1), 0px 2px 5px rgba(166, 58, 80, 0.15);
  }

  &__sample-product {
    flex-shrink: 1;
    max-width: 100%;
  }

  &__info {
    svg {
      fill: transparent;
    }
  }

}
