.application {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(230px, 35%) 1fr auto;
  justify-content: space-between;
  grid-gap: 10px clamp(20px, 3.226vw, 40px);
  padding: 15px 30px 15px 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;

  @media (max-width: 768px) {
    align-items: flex-start;
    grid-template-columns: 230px 1fr;
    grid-template-rows: repeat(2, auto);
  }

  @media (max-width: 576px) {
    padding: 15px;
    grid-template-columns: auto 1fr;
  }

  &--new {
    border: none;
    background-color: #FFF2F2;
    box-shadow: 0px 0px 10px rgba(166, 58, 80, 0.1), 0px 2px 5px rgba(166, 58, 80, 0.15);
  }

  &__all {
    grid-template-columns: 1fr auto auto;
    grid-gap: 42px;
    border: none;
    box-shadow: 0px 0px 10px rgba(67, 96, 124, 0.1), 0px 2px 5px rgba(67, 96, 124, 0.15);

    &--hide {
      background-color: #F9F9F9;
    }
  }

  &__product {
    max-width: 310px;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: clamp(10px, 2.419vw, 30px);

    @media (max-width: 768px) {
      grid-row: span 2;
    }

    @media (max-width: 576px) {
      grid-row: 1;
    }
  }

  &__product-image {
    height: 100px;
    width: 100px;
    flex-shrink: 0;

    picture,
    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }


  &__info-head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 5px;
    margin-bottom: 5px;

    @media (max-width: 1240px) {
      margin-bottom: 0;
      grid-gap: 0 5px;
    }
  }

  &__product-title {
    grid-column: 2;
    align-self: start;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
  }

  &__product-count {
    font-size: 14px;
    color: var(--color-blue);
  }

  &__datetime {
    font-size: 14px;
    color: var(--color-blue-text);
  }

  &__filling {
    flex-grow: 1;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-blue);

    span {
      display: block;
      font-weight: 700;
    }

    @media (max-width: 768px) {
      grid-column: 2;
      grid-row: 1;
    }

    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
  }

  &__product-info {
    @media (max-width: 576px) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    padding: 10px 31px;
    border-radius: 50px;
    background-color: var(--color-pink-bg);
    color: #A63A50;
    transition: all 0.3s ease;

    &:hover,
    &:active {
      background-color: var(--color-pink-hover);
    }

    @media (max-width: 768px) {
      grid-row: 2;
      grid-column: 2;
    }

    @media (max-width: 576px) {
      grid-column: span 2;
      max-width: 450px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__pubtime {
    text-align: right;
    line-height: 125%;
    color: var(--color-blue);

    span {
      display: block;
    }
  }

  &__sample {
    box-shadow: 0px 0px 10px rgba(67, 96, 124, 0.1), 0px 2px 5px rgba(67, 96, 124, 0.15);
    grid-template-columns: 1fr auto;

    @media (max-width: 1240px) {
      padding: 10px 15px;
    }

    @media (max-width: 576px) {
      grid-template-columns: 100%;
    }
  }

  &__sample-product {
    max-width: 100%;
    grid-gap: 10px 20px;

    @media (max-width: 576px) {
      grid-template-columns: auto 1fr;
    }
  }

  &__info {
    svg {
      fill: transparent;
    }
  }

  &__sample-info {
    display: flex;
    align-items: center;
    grid-gap: clamp(15px, 2.419vw, 30px);

    @media (max-width: 1240px) {
      grid-row: span 2;
    }

    @media (max-width: 1024px) {
      grid-row: span 2;
      grid-column: span 2;
    }
  }

  &__info {
    @media (max-width: 1024px) {
      order: 1;
    }
  }

  &__info-category {
    display: flex;
    align-items: center;
    grid-gap: 47px;
  }
}
