.aside {
  // max-width: 252px;
  // width: 100%;
  // display: flex;
  // flex-direction: column;
  // grid-gap: 52px;

  @media (max-width: 1024px) {
    max-width: 100%;
    align-items: center;
  }
}
