.authorization {
  position: relative;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 12.5px;
    transition: all 0.3s ease;
    color: var(--color-blue);

    svg {
      transition: all 0.3s ease;
    }

    &:hover {
      color: var(--color-blue-text);

      svg {
        fill: var(--color-blue-text);
      }
    }
  }

  &__account {
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-blue-text);

      svg {
        fill: var(--color-blue-text);
      }

      .authorization__account-hover {
        opacity: 1;
        visibility: visible;
        z-index: 5;
      }
    }
  }

  &__account-hover {
    position: absolute;
    left: -8px;
    padding-top: 20px;
    max-width: 201px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }

  &__account-details {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2px;
    padding: 10px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 10px rgba(67, 96, 124, 0.1)) drop-shadow(4px 2px 8px rgba(67, 96, 124, 0.2));
    background-color: var(--color-white);
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--hover-triangle);
      background-repeat: no-repeat;
      width: 34px;
      height: 24px;
      top: -11px;
      left: 8.5px;
      z-index: 1;
    }
  }

  &__account-link {
    width: 181px;
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--color-blue);
    background-color: var(--color-white);
    transition: all 0.3s ease;

    &:hover {
      color: var(--color-blue);
      background: var(--color-grey-bg);
      border-radius: 50px;
    }

    &--logout,
    &--kabinet {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 10px;
      color: var(--color-blue-text);

      svg {
        fill: var(--color-blue-text);
        transition: all 0.3s ease;
      }

      &:hover {
        color: var(--color-blue);
        background: var(--color-grey-bg);
        border-radius: 50px;

        svg {
          fill: #43607C;
        }
      }
    }

    &--kabinet {
      border-right: 1px solid var(--color-blue-border);

      svg {
        min-width: 20px;
        transform: rotate(180deg);
      }
    }
  }
}
