.card {
  position: relative;
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  box-shadow: 0px 2px 5px rgba(67, 96, 124, 0.15);
  border-radius: 5px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 2px 5px rgba(67, 96, 124, 0.15);
  }

  &__image {
    max-width: 280px;
    width: 100%;
    max-height: 300px;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  &__info {
    padding: 5px 15px 15px;
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }

  &__price {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-red);
  }

  &__descr {
    color: var(--color-black);
  }

  &__topping {
    font-size: 14px;
    color: var(--color-blue-text);
  }
}
