.categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;

  &__btn {
    position: relative;
    padding: 8.5px 20px;
    color: #8E4A4E;
    background-color: var(--color-pink-bg);
    border-radius: 40px;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-pink-hover);
    }

    &--another {
      position: relative;
      background-color: transparent;

      &::before {
        content: '';
        position: absolute;
        background-image: var(--arrow-another);
        top: 5px;
        right: 5px;
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  &__item {
    &.active {
      .categories__btn {
        padding-left: 50px;
        color: #fff;
        font-weight: 700;
        background-color: #A63A50;

        &::before {
          content: '';
          position: absolute;
          background-image: var(--tab-active);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}
