.categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;

  &__btn {
    position: relative;
    padding: 8.5px 20px;
    color: var(--color-red-text);
    font-size: 16px;
    line-height: 120%;
    background-color: var(--color-pink-bg);
    border-radius: 40px;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-pink-hover);
    }

    &--another {
      position: relative;
      background-color: transparent;

      &::before {
        content: '';
        position: absolute;
        background-image: var(--arrow-another);
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover {
        background-color: transparent;
      }
    }
  }

  &__item {
    &.active {
      .categories__btn {
        padding-left: 50px;
        color: #fff;
        font-weight: 700;
        background-color: #A63A50;

        &::before {
          content: '';
          position: absolute;
          background-image: var(--tab-active);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 20px;
          height: 20px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__banner {
    margin: 114px auto;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;
    background-color: #FFF2F2;
    border-radius: 20px;
    padding: 100px 0;
    text-align: center;
  }

  &__banner-btn {
    margin: 0 auto;
  }

  &__banner-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    color: var(--color-black);

    @media (max-width: 576px) {
      font-size: 20px;
    }
  }

  &__banner-descr {
    font-size: 14px;
    line-height: 143%;
    color: var(--color-blue);
  }

  &__choose-label {
    position: relative;
  }

  &__choose-input {
    position: absolute;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;

    &:checked ~ .categories__choose-btn {
      background-color: var(--color-red);
      padding-left: 50px;
      color: var(--color-white);
      font-weight: 700;

      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__choose-btn {
    display: block;
    position: relative;
    padding: 8.5px 20px;
    color: var(--color-red-text);
    font-size: 16px;
    line-height: 120%;
    background-color: var(--color-pink-bg);
    border-radius: 40px;
    transition: all 0.3s ease;
    color:  var(--color-red-text);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      display: block;
      background-image: var(--tab-active);
      background-size: cover;
      background-repeat: no-repeat;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      opacity: 0;
      visibility: hidden;
      z-index: 5;
    }

    @media (max-width: 768px) {
      line-height: 133%;
    }
  }

  &__settings-btn {
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    grid-gap: 15px;
    padding: 11.5px 20px;
    background: var(--color-blue-border-bg);
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: var(--color-blue);
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

}
