.cook {
  position: relative;
  max-width: 475px;
  width: 100%;
  padding: clamp(10px, 0.694vw, 15px);
  display: flex;
  align-items: center;
  grid-gap: clamp(10px, 0.694vw, 15px);
  box-shadow: 0px 2px 10px rgba(67, 96, 124, 0.25);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 2px rgba(67, 96, 124, 0.3);
  }

  @media (max-width: 576px) {
    flex-direction: column;
    max-width: 210px;
  }

  &__image {
    flex-shrink: 0;
    width: clamp(170px, 11.984vw, 180px);
    height: clamp(170px, 11.984vw, 180px);
    border: 1px solid var(--color-yellow-bg);

    picture,
    img {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__info-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 5px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-blue);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 44px;
  }

  &__feedback {
    position: relative;
    font-size: 14px;
    text-decoration-line: underline;
    color: var(--color-red);
    z-index: 2;
    transition: all 0.3s ease;

    &:hover {
      text-decoration-line: none;
    }
  }

  &__descr {
    font-size: 14px;
    color: var(--color-blue);
  }

  &__categories {
    display: flex;
    grid-gap: 5px;

    &-list {
      @media (max-width: 576px) {
        &:not(:nth-child(-n + 2)) {
          display: none;
        }
      }
    }
  }


  &__categories-link {
    padding: 2px 10px;
    background-color: var(--color-pink-bg);
    border-radius: 30px;
    color: var(--color-red);
    transition: all 0.3 ease;

    &:hover {
      background-color: var(--color-pink-hover);
    }
  }
}
