.details {
  margin-bottom: 80px;

  &__wrapper {
    --gap: clamp(20px, 2.796vw, 40px);
    display: grid;
    grid-template-columns: 280px calc(100% - var(--gap) - 280px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: var(--gap) 0;

    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__controls {
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    @media (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      margin: 30px 0;
    }

    @media (max-width: 576px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      overflow-x: auto;

      &::-webkit-scrollbar {
        height: 0;
        background-color: transparent;
      }

      // &::-webkit-scrollbar-thumb {
      //   background-color: transparent;
      // }
    }
  }

  &__controls-btns {
    &.active {
      .details__controls-btn {
        background-color:var(--color-blue);
        color: var(--color-white);
        font-weight: 700;
      }

      .details__categories-btn {
        background-color: var(--color-red);
        color: var(--color-white);
        font-weight: 700;
      }
    }
  }

  &__controls-title {
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--color-black);
    font-weight: 700;
  }

  &__controls-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    border: 1px solid var(--color-blue-border);
    border-radius: 50px;
    font-size: 18px;
    color: var(--color-blue);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-blue-border-bg);
    }

    @media (max-width: 576px) {
      white-space: nowrap;
    }
  }

  &__content {
    width: 100%;
  }

  &__aside {
    max-width: 100%;
    visibility: hidden;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__confectioner-about {
    display: flex;
    flex-direction: column;
    grid-gap: 80px;

    @media (max-width: 768px) {
      grid-gap: 50px;
    }
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__about-info {
    display: flex;
    flex-direction: column;
    grid-gap: 30.5px;

    @media (max-width: 768px) {
      .watch-contacts {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      .subtitle {
        font-size: 18px;
      }
    }
  }

  &__about-title {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }

  &__confectioner-products {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }

  &__categories-btn  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 20px;
    background-color: var(--color-pink-bg);
    border-radius: 50px;
    font-size: 18px;
    color: var(--color-red);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-pink-hover);
    }

    &--add {
      display: flex;
      align-items: center;
      grid-gap: 15px;
      font-size: 16px;
      background-color: var(--color-white);
      border: 1px solid var(--color-red);
      transition: all 0.3s ease;

      svg {
        fill: transparent;
        stroke: #8E4A4E;
      }

      &:hover {
        background-color: var(--color-pink-bg);
      }

      &:active {
        background-color: var(--color-pink-hover);
      }
    }

    @media (max-width: 576px) {
      white-space: nowrap;
    }
  }
}
