.details {
  margin-bottom: 80px;

  &__wrapper {
    display: flex;
    align-items: stretch;
    grid-gap: 40px;
  }

  &__wrapper-controls {
    max-width: 280px;
    width: 100%;
  }

  &__controls {
    margin-bottom: 52px;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__controls-btns {
    &.active {
      .details__controls-btn {
        background-color:var(--color-blue);
        color: var(--color-white);
        font-weight: 700;
      }

      .details__categories-btn {
        background-color: var(--color-red);
        color: var(--color-white);
        font-weight: 700;
      }
    }
  }

  &__controls-title {
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--color-black);
    font-weight: 700;
  }

  &__controls-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 20px;
    border: 1px solid var(--color-blue-border);
    border-radius: 50px;
    font-size: 18px;
    color: var(--color-blue);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-blue-border-bg);
    }
  }

  &__content {
    width: 100%;
  }

  &__aside {
    max-width: 100%;
    visibility: hidden;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  &__confectioner-about {
    display: flex;
    flex-direction: column;
    grid-gap: 80px;
  }

  &__reviews {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__about-info {
    display: flex;
    flex-direction: column;
    grid-gap: 30.5px;
  }

  &__about-title {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
  }

  &__confectioner-products {
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
  }

  &__categories-btn  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 20px;
    background-color: var(--color-pink-bg);
    border-radius: 50px;
    font-size: 18px;
    color: var(--color-red);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-pink-hover);
    }

    &--add {
      display: flex;
      align-items: center;
      grid-gap: 15px;
      font-size: 16px;
      background-color: var(--color-white);
      border: 1px solid var(--color-red);
      transition: all 0.3s ease;

      svg {
        fill: transparent;
      }

      &:hover {
        background-color: var(--color-pink-bg);
      }

      &:active {
        background-color: var(--color-pink-hover);
      }
    }


  }
}
