.empty {
  position: relative;
  z-index: 10;

  &::before {
    position: absolute;
    content: '';
    opacity: 0.3;
    background-color: white;
    width: 100vw;
    height: 100vh;
  }

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    opacity: 0.3;
    background-color: white;
    width: 100vw;
    height: 100vh;
  }

  &.hide::before,
  &.hide::after {
    display: none;
  }

  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 17px;
    background-color: #DCEBF8;
    border-radius: 10px;
    transform: translateX(113%);
    bottom: -15%;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--greeatings-triangle);
      background-size: cover;
      background-repeat: no-repeat;
      transform: rotate(90deg);
      width: 44px;
      height: 31px;
      left: -20px;
      bottom: 10px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: all 0.4s ease;
    cursor: pointer;

    svg {
      fill: var(--color-blue-text);
    }

    &:hover,
    &:active {
      background: var(--color-blue-border-bg);
      border-radius: 5px;

      svg {
        fill: var(--color-blue);
      }
    }
  }
}
