.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFF2F2;
  transition: all 0.3s ease;

  svg {
    fill: transparent;
    stroke: var(--color-red);
    transition: all 0.3s ease;
  }

  &:hover {
    background-color:  #FFE1E1;
  }

  &:active {
    svg {
      fill: #A63A50;
    }
  }
}
