.filter {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;

  &__list {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    overflow-x: auto;

    @media (max-width: 1240px) {
      max-width: 100%;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    @media (max-width: 1240px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1024px) {
      .desert,
      .desert__image {
        max-width: 100%;
        max-height: initial;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
      grid-gap: 10px;
    }
  }

  &__product {
    @media (max-width: 576px) {
      .desert__info {
        padding: 5px 10px 10px;
      }

      .desert__price {
        font-size: 16px;
      }

      .desert__descr {
        font-size: 12px;
        line-height: 143%;
      }

      .desert__topping {
        font-size: 12px;
        line-height: 143%;
      }

      .desert__card-confectioner {
        padding: 5.5px;
        grid-gap: 5px;
      }

      .desert__confectioner-name {
        font-size: 10px;
        line-height: 100%;
      }

      .desert__confectioner-feedbacks {
        font-size: 10px;
        line-height: 120%;
      }
    }
  }

  &__btn {
    position: relative;
    padding: 8.5px 20px;
    color: #8E4A4E;
    background-color: var(--color-pink-bg);
    border-radius: 40px;
    white-space: nowrap;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--color-pink-hover);
    }

    &.active {
      padding-left: 50px;
      color: #fff;
      font-weight: 700;
      background-color: #A63A50;

      &::before {
        content: '';
        position: absolute;
        background-image: var(--tab-active);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    @media (max-width: 1240px) {
      padding: 8.5px 15px;
    }
  }

  &__product {
    display: none;

    &.active {
      display: block;
    }
  }
}
