.more {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 15px;
  border: 1px solid #84A6C2;
  border-radius: 49px;
  padding: 5px 10px;
  transition: all 0.3s ease;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }

  &:hover {
    background-color: #84A6C2;
  }
}
