.sample {
  display: flex;
  align-items: center;
  grid-gap: 40px;
  padding: 15px 30px 15px 20px;
  border: 1px solid var(--color-border);
  border-radius: 10px;

  &__product {
    max-width: 351px;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 30px;
  }

  &__product-image {
    height: 100px;
    width: 100px;
  }

  &__product-img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }

  &__info-head {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    margin-bottom: 15px;
  }

  &__product-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);
  }

  &__product-count {
    font-size: 14px;
    color: var(--color-blue);
  }

  &__apply {
    padding: 8px 30px;
    background-color: var(--color-red);
    border-radius: 50px;
    color: var(--color-white);
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover,
    &:active {
      background-color: var(--color-red-hover);
    }
  }

  &__filling {
    flex-grow: 1;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-blue);

    span {
      display: block;
      font-weight: 700;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 15px;
  }

  &__btn-watch {
    padding: 10px 31px;
    border-radius: 50px;
    background-color: var(--color-pink-bg);
    color: var(--color-red);
    transition: all 0.3s ease;

    &:hover,
    &:active {
      background-color: var(--color-pink-hover);
    }
  }

  &__btn-delete {
    padding: 10px;
    border: 2px solid var(--color-blue-border-bg);
    border-radius: 50px;
    transition: all 0.3s ease;

    svg {
      fill: var(--color-blue-text);
      transition: all 0.3s ease;
    }

    &:hover,
    &:active {
      border: 2px solid var(--color-pink-hover);

      svg {
        fill: var(--color-red);
      }
    }
  }
}

