.sample {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(230px, 35%) 1fr auto;
  justify-content: space-between;
  grid-gap: 10px clamp(20px, 3.226vw, 40px);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 15px 20px;

  @media (max-width: 1240px) {
    align-items: flex-start;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: repeat(2, auto);
  }

  @media (max-width: 1024px) {
    grid-template-columns: 40% 1fr;

  }

  &__product {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-gap: 10px clamp(10px, 2.083vw, 30px);

    @media (max-width: 1240px) {
      grid-row: span 2;
    }
  }

  &__product-image {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    grid-row: span 2;
    grid-column: 1;

    picture,
    img {
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }

  }

  &__info-head {
    display: flex;
    align-items: center;
    grid-gap: 5px;
    // grid-row: 1;
    grid-column: 2;
    align-self: end;


    &--column {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__product-title {
    font-size: 14px;
    font-weight: 700;
    color: var(--color-black);

    &--ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  &__product-count {
    font-size: 14px;
    color: var(--color-blue);
  }

  &__apply {
    padding: 8px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--color-red);
    border-radius: 50px;
    color: var(--color-white);
    font-weight: 700;
    transition: all 0.3s ease;
    grid-column: 2;
    align-self: start;
    font-size: Min(1.111vw, 16px);

    &:hover,
    &:active {
      background-color: var(--color-red-hover);
    }

    @media (max-width: 1024px) {
      font-size: 14px;
    }
  }

  &__filling {
    flex-grow: 1;
    font-size: 14px;
    line-height: 143%;
    color: var(--color-blue);

    span {
      display: block;
      font-weight: 700;
    }

    @media (max-width: 1240px) {
      grid-column: 2;
      grid-row: 1;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 15px;

    &--apply {
      grid-gap: 30px;
    }

    &--settings {
      grid-gap: 10px;
    }

    @media (max-width: 1240px) {
      grid-row: 2;
      grid-column: 2;
    }
  }

  &__btn-watch {
    padding: 10px 31px;
    border-radius: 50px;
    background-color: var(--color-pink-bg);
    color: var(--color-red);
    transition: all 0.3s ease;

    &:hover,
    &:active {
      background-color: var(--color-pink-hover);
    }
  }

  &__btn-delete {
    padding: 10px;
    border: 2px solid var(--color-blue-border-bg);
    border-radius: 50px;
    transition: all 0.3s ease;

    svg {
      fill: var(--color-blue-text);
      transition: all 0.3s ease;
    }

    &:hover,
    &:active {
      border: 2px solid var(--color-pink-hover);

      svg {
        fill: var(--color-red);
      }
    }
  }

  &__btn-reviews {
    min-width: 150px;
    height: 35px;
    justify-content: center;
    background-color: #DCEBF8;
    border-radius: 30px;
    font-size: 14px;
    line-height: 171%;
    color: #43607C;
    display: flex;
    align-items: center;
    grid-gap: 5px;


    svg {
      fill: #43607C;
      transform: rotate(-90deg);
    }

    // &:hover,
    // &:active {
    //   border: 2px solid var(--color-pink-hover);

    //   svg {
    //     fill: var(--color-red);
    //   }
    // }
  }

  &__btn-apply {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10.5px 50.5px;
    grid-gap: 5px;
    color: #43607C;
    border: 1px solid #84A6C2;
    border-radius: 50px;
  }

  &__btn-saved {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    color: #43607C;

    svg {
      fill: transparent;
      stroke: #43607C;
    }
  }

  &__btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 2px solid #DCEBF8;
    border-radius: 50px;
  }

  &__product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    width: 100%;

    &--full {
      max-width: 600px;
    }
  }

  &__product-status {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 42px;
    font-size: 14px;
    color: var(--color-black);
    border: 1px solid #43607C;

    &--new {
      border: 1px solid #A63A50;
      color: #8E4A4E;
    }

    &--working {
      background-color: #DCEBF8;
    }

    &--cancel {
      border: 1px solid #C2C2C2;
      color: #C2C2C2;
      background-color: #F9F9F9;
    }

    &--hide {
      color: #84A6C2;
      border: 1px solid #DCEBF8;
    }
  }

  &__product-price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
    color: var(--color-red);
  }
}

