.search {
  padding: 40px 0;

  @media (max-width: 768px) {
    padding: 30px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
  }

  &__label {
    display: flex;
    align-items: center;
  }

  &__input {
    padding: 13px 20px;
    border: 1px solid var(--color-border);
    border-right: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 18px;
    color: var(--color-blue);

    &::placeholder {
      font-size: 18px;
      color: var(--color-placeholder);

      @media (max-width: 768px) {
        font-size: 16px;
      }
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 14px 30px;
    font-size: 18px;
    color: var(--color-yellow-text);
    background-color: var(--color-yellow);
    border: 1px solid #FDAD6D;
    border-radius: 0px 5px 5px 0px;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--color-yellow-hover);
    }

    svg {
      display: none;
      fill: #5E2D07;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 10px 12.5px;

      span {
        display: none;
      }

      svg {
        display: block;
      }
    }
  }

  &__result {
    display: flex;
    align-items: center;
  }

  &__result-text {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-blue);
  }

  &__result-cancel {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blue-border-bg);
    border-radius: 33px;
  }

  &__result-count {
    margin-left: 20px;
    font-size: 18px;
    line-height: 133%;
    color: var(--color-blue-text);
  }

  &__btn-icon {
    padding: 8px 20px;
    background-color: #FDAD6D;
    border: 1px solid #FDAD6D;
    border-radius: 50px;

    svg {
      fill: #5E2D07;
    }
  }
}
