.sort {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;

  @media (max-width: 1024px) {
    grid-gap: 5px;
  }

  &__filter-title {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 5px;
    color: #43607C;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    cursor: pointer;

    svg {
      transform: rotate(-90deg);
    }

    &._active {
      svg {
        transform: rotate(90deg);
      }

      .sort__form-body {
        display: block;
      }
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  &__form-body {
    margin-top: 20px;

    @media screen and (min-width: 1024px) {
      display: block;
    }
  }

  &__forms {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    grid-gap: 30px;

    @media (max-width: 1024px) {
      flex-direction: row;
    }
  }

  &__form-title {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 133%;
    font-weight: 700;
    color: var(--color-black);

    @media (max-width: 576px) {
      margin-bottom: 10px;
      font-size: 14px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
  }

  &__label {
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease;

    &:checked ~ .sort__name::after{
      opacity: 1;
    }

    &:checked ~ .sort__name::before{
      background-color: var(--color-white);
    }
  }

  &__name {
    position: relative;
    padding-left: 40px;
    line-height: 150%;
    color: var(--color-black);
    transition: all 0.3s ease;
    cursor: pointer;

    @media (max-width: 576px) {
      padding-left: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--color-white);
      width: 22.5px;
      height: 22.5px;
      border: 2px solid #43607C;
      border-radius: 2px;
      transition: .4s;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      background-image: var(--arrow-checked);
      background-size: cover;
      background-repeat: no-repeat;
      left: -1px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      opacity: 0;
      transition: .4s;
      z-index: 5;
      transition: all 0.3s ease;
    }

    &:hover {
      transition: all 0.3s ease;

      &::before {
        background-color: var(--color-blue-border-bg);
      }
    }
  }

  &__filter-counter {
    padding: 2.5px 5.5px;
    background-color: #FDAD6D;
    border-radius: 50px;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    color: #fff;
  }
}
