.step {
  width: fit-content;
  padding: 10.5px 20px;
  background: var(--color-pink-hover);
  border-radius: 50px;
  color: var(--color-yellow-text);

  span {
    &:first-child {
      @media (max-width: 576px) {
        display: none;
      }
    }

  }
}
