.watch-all {
  padding: 5px 20px;
  background-color: var(--color-blue-border-bg);
  border-radius: 30px;
  font-size: 14px;
  line-height: 171%;
  color: var(--color-blue);
  transition: all 0.3s ease;
  white-space: nowrap;

  &:hover {
    background-color: var(--color-blue-hover);
  }
}
