@import "blocks/header.scss";
@import "blocks/footer.scss";

// Blocks
@import "blocks/first.scss";
@import "blocks/products.scss";
@import "blocks/news.scss";
@import "blocks/block.scss";
@import "blocks/slider.scss";
@import "blocks/best.scss";
@import "blocks/registration.scss";
@import "blocks/mobile.scss";
@import "blocks/burger.scss";
@import "blocks/content.scss";
@import "blocks/pagination.scss";
@import "blocks/tabs.scss";
@import "blocks/confectioners.scss";
@import "blocks/articles.scss";
@import "blocks/article.scss";
@import "blocks/product-card.scss";
@import "blocks/information.scss";
@import "blocks/reviews.scss";
@import "blocks/applications.scss";
@import "blocks/dialog.scss";

// modals
@import "blocks/feedback.scss";
@import "blocks/thanks.scss";
@import "blocks/login.scss";
@import "blocks/enter.scss";
@import "blocks/form.scss";
@import "blocks/contacts.scss";
@import "blocks/constructor.scss";




