@import "blocks/header.scss";
@import "blocks/footer.scss";

// Blocks
@import "blocks/first.scss";
@import "blocks/products.scss";
@import "blocks/news.scss";
@import "blocks/block.scss";
@import "blocks/slider.scss";
@import "blocks/best.scss";
@import "blocks/registration.scss";
@import "blocks/mobile.scss";
@import "blocks/burger.scss";




