
@import "components/nav.scss";
@import "components/location.scss";
@import "components/authorization.scss";
@import "components/socials.scss";
@import "components/search.scss";
@import "components/categories.scss";
@import "components/product.scss";
@import "components/watch-all.scss";
@import "components/watch-contacts.scss";
@import "components/reg.scss";
@import "components/cook.scss";
@import "components/desert.scss";
@import "components/aside.scss";
@import "components/filter.scss";
@import "components/more.scss";
@import "components/about.scss";
@import "components/add-review.scss";
@import "components/review.scss";
@import "components/details.scss";
@import "components/favorite.scss";
@import "components/edit.scss";
@import "components/application-card.scss";
@import "components/samples-card.scss";






