.select {
	position: relative;

  &.is-active {
    .select__body {
      position: absolute;
      display: flex;
      z-index: 10;
      filter: drop-shadow(0px 31px 80px rgba(67, 96, 124, 0.09)) drop-shadow(0px 9.34559px 24.1177px rgba(67, 96, 124, 0.058643)) drop-shadow(0px 3.88168px 10.0172px rgba(67, 96, 124, 0.045)) drop-shadow(0px 1.40393px 3.62304px rgba(67, 96, 124, 0.031357));
    }

    .select__header {
      svg {
        transform: rotate(90deg);
      }
    }
  }

  &__body {
    transition: all .3s ease;
  }
}
