.logo {
  font-family: var(--font-family-yesseva);
  font-size: 35px;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);
}

// .text-bold {
//   font-family: var(--font-family-verdana);
//   font-size: 16px;
//   line-height: 120%;
//   font-weight: 700;
//   font-style: normal;
// }

.title {
  font-family: var(--font-family-yesseva);
  font-size: 42px;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.subtitle {
  font-family: var(--font-family-yesseva);
  font-size: 35px;
  line-height: 120%;
  color: var(--color-black);

  @media (max-width: 768px) {
    font-size: 24px;
    line-height: 125%;
  }
}

.heading {
  font-family: var(--font-family-yesseva);
  font-size: 24px;
  color: var(--color-black);

  @media (max-width: 1024px) {
     br {
      display: none;
     }
  }
}

.text {
  line-height: 150%;
  color: var(--color-blue);

  @media (max-width: 768px) {
    line-height: 138%;
  }
}

.reg {
  font-size: 14px;
  line-height: 171%;
  font-weight: 700;
  color: var(--color-white);
}

.town {
  color: var(--color-blue-text);
}

.modal__title {
  font-family: var(--font-family-yesseva);
  font-size: 30px;
  line-height: 120%;
  color: var(--color-black);
}

.dataset {
  margin-top: 10px;
  font-size: 16px;
  line-height: 125%;
  color: var(--color-blue);
}



