.logo {
  font-family: var(--font-family-yesseva);
  font-size: 35px;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);
}

// .text-bold {
//   font-family: var(--font-family-verdana);
//   font-size: 16px;
//   line-height: 120%;
//   font-weight: 700;
//   font-style: normal;
// }

.title {
  font-family: var(--font-family-yesseva);
  font-size: 42px;
  line-height: 120%;
  font-weight: 400;
  font-style: normal;
  color: var(--color-black);
}

.subtitle {
  font-family: var(--font-family-yesseva);
  font-size: 35px;
  color: var(--color-black);
}

.text {
  line-height: 150%;
  color: var(--color-blue);
}

.reg {
  font-size: 14px;
  line-height: 171%;
  font-weight: 700;
  color: var(--color-white);
}
